#dialog_opener {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}
#dialog_opener span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}
ul#icons {margin: 0; padding: 0;}
ul#icons li {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;}
ul#icons span.ui-icon {float: left; margin: 0 4px;}

.sweepstakes-content-termpage{
	border: 1px solid #1E90FF;
}


.signup-table{
	
	text-align: center;
	border: none;
}

.signup-table td{
	border: none;
	padding: 10px;
	
}

.signup-table tr{
	border: none;
}

.weepstakes-signup-holder{
	padding: 10px;
}

.text-center{
	text-align: center;
	padding: 6px;
}

.instruction-class{
	font-size: 11px;
}

.dont-have-luckynumber{
		
}

.email-error{
	background-color: #FFEBE8;
	border-color: #CC0000;
	margin: 0 0 16px 8px;
	padding: 12px;
	border-radius: 3px 3px 3px 3px;
	border-style: solid;
	border-width: 1px;

	line-height: 1.4em;
}

.email-success{
	background-color: #DEDE25;
	border-color: #FFBB3F;
	margin: 0 0 16px 8px;
	padding: 12px;
	border-radius: 3px 3px 3px 3px;
	border-style: solid;
	border-width: 1px;

	line-height: 1.4em;
}

#ajax-loader{
	text-align: center;
}
