#dialog_opener {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}
#dialog_opener span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}
ul#icons {margin: 0; padding: 0;}
ul#icons li {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;}
ul#icons span.ui-icon {float: left; margin: 0 4px;}

.sweepstakes-content-termpage{
	border: 1px solid #1E90FF;
}


.signup-table{
	
	text-align: center;
}

.signup-table td{
	border: none;
	padding: 10px;
	
}

.weepstakes-signup-holder{
	padding: 10px;
}

.text-center{
	text-align: center;
	padding: 6px;
}
